{% extends "Customer/_Layout_Auth.html" %}

<!-- BEGIN #Body_of_this_page -->
{% block body %}
	<!-- BEGIN login -->
	<div class="login" style="min-height: 100vh; display: flex; align-items: center; justify-content: center; background: url('{{ url_for('static', filename='img/background.jpg') }}') no-repeat center center fixed; background-size: cover;">
		<!-- BEGIN login-content -->
		<div class="login-content animate__animated animate__fadeIn">
			<!-- BEGIN Message-Show -->
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
							<strong>{{ category|capitalize }}!</strong> {{ message|capitalize }}.
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<!-- End Message-Show -->
			<div class="card border-theme bg-white bg-opacity-75 mb-3 shadow" style="border-radius: 15px;">
				<div class="card-header text-center border-theme bg-transparent">
					<h1 class="text-primary">End User Sign In <i class="fas fa-user"></i></h1>
					<p class="text-muted">For your protection, please verify your identity.</p>
				</div>
				<div class="card-body">
					<form action="/cust_login" method="POST">
						<div class="mb-3">
							<label class="form-label">UserName</label>
							<input type="text" name="user_name" class="form-control form-control-lg fs-15px" placeholder="e.g AqsaMustafa786" required>
						</div>
						<div class="mb-3">
							<label class="form-label">Password</label>
							<input type="password" name="login_password" class="form-control form-control-lg fs-15px" placeholder="Enter your password" required>
						</div>
						<button type="submit" class="btn btn-primary btn-lg d-block w-100 fw-bold mb-3">Sign In <i class="fas fa-sign-in-alt"></i></button>
						<div class="text-center text-muted">
							GOTO Dashboard? <a href="/" class="text-primary fw-bold">Dashboard</a>.
						</div>
						<div class="text-center text-muted">
							Don't have an account yet? <a href="/cust_register" class="text-primary fw-bold">Become a Buyer</a>.
						</div>
						<div class="text-center text-muted">
							Want to login as Admin? <a href="/admin_login" class="text-primary fw-bold">Admin/Seller Login</a>.
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END login-content -->
	</div>
	<!-- END login -->
{% endblock %}
<!-- BEGIN #Body_of_this_page -->
