{% extends "Customer/_Layout_Customer_design.html" %}

<!-- BEGIN #Body_of_this_page -->
{% block body %}
    
    <!--banner section start -->
    <div class="banner_section layout_padding">
      <!-- BEGIN Message-Show -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              <strong>{{ category|capitalize }}!</strong> {{ message|capitalize }}.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <!-- End Message-Show -->

      <!-- <div class="container"> -->
				<div class="row">
					<div class="col-md-12">
						<div class="slider-hero">
							<div class="featured-carousel owl-carousel">
								<div class="item">
									<div class="work">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url({{ url_for('static', filename='carousel/images/slider-1.jpg') }})">
											<div class="text text-center">
												<h2 class="banner_taital" style="color: #ffffff !important; font-weight: bold; font-size: 100px !important;">Professional <span style="color: #ecad15; font-weight: bold; font-size: 100px !important;">Paint</span></h2>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="work">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url({{ url_for('static', filename='carousel/images/slider-2.jpg') }})">
											<div class="text text-center">
												<h2 class="banner_taital" style="color: #ffffff !important; font-weight: bold; font-size: 100px !important;">Professional <span style="color: #ecad15; font-weight: bold; font-size: 100px !important;">Paint</span></h2>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="work">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url({{ url_for('static', filename='carousel/images/slider-3.jpg') }})">
											<div class="text text-center">
												<h2 class="banner_taital" style="color: #ffffff !important; font-weight: bold; font-size: 100px !important;">Professional <span style="color: #ecad15; font-weight: bold; font-size: 100px !important;">Paint</span></h2>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="my-5 text-center">
			          <ul class="thumbnail">
			            <li class="active img"><a href="#"><img src="{{ url_for('static', filename='carousel/images/slider-1.jpg') }}" alt="Image" class="img-fluid"></a></li>
			            <li><a href="#"><img src="{{ url_for('static', filename='carousel/images/slider-2.jpg') }}" alt="Image" class="img-fluid"></a></li>
			            <li><a href="#"><img src="{{ url_for('static', filename='carousel/images/slider-3.jpg') }}" alt="Image" class="img-fluid"></a></li>
			          </ul>
			        </div>
						</div>
					</div>
				</div>
			<!-- </div> -->
    </div>
    <!--banner section end -->

    <!--testimonial section start -->
    <div class="testimonial_section layout_padding">
      <div class="container">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

            {% set first_artist = all_artist[0] if all_artist|length > 0 else None %}
            {% if first_artist %}
            <div class="carousel-item active">
              <div class="image_2">
                <img src="{{ url_for('static', filename='picked/images/img-2.png') }}">
              </div>
              <h1 class="about_taital">Testimonial</h1>
              <div class="testimonial_main">
                <div class="client_main">
                  <div class="client_left">
                    <div>
                      {% if first_artist.photo %}
                      <img src="{{ url_for('static', filename='uploaded_files/' + first_artist.photo) }}" class="client_img" alt="Artist Photo">
                      {% else %}
                      <img src="{{ url_for('static', filename='picked/images/client-img.png') }}" class="client_img">
                      {% endif %}
                    </div>
                  </div>
                  <div class="client_right">
                    <h4 class="magna_text">{{ first_artist.full_name }}</h4>
                    <p class="consectetur_text">{{ first_artist.gender }}</p>
                  </div>
                </div>
                <p class="ipsum_text">{{ first_artist.phone }}</p>
                <div class="buy_bt_2 active">
                  <a href="/pos_customer_order/{{ first_artist.user_id }}">View Gallery</a>
                </div>
                {% if session.cust_RolName %}
                <div class="buy_bt_3 active">
                  <a href="#" data-bs-toggle="modal" data-bs-target="#makeReportModal">Report</a>
                </div>
                {% endif %}
              </div>
            </div>
            {% endif %}


            {% for artist in all_artist %}
            <div class="carousel-item artist-item" data-name="{{ artist.full_name }}" data-phone="{{ artist.phone }}" data-gender="{{ artist.gender }}">
              <div class="image_2">
                <img src="{{ url_for('static', filename='picked/images/img-2.png') }}">
              </div>
              <h1 class="about_taital">Testimonial</h1>
              <div class="testimonial_main">
                <div class="client_main">
                  <div class="client_left">
                    <div>
                      {% if artist.photo %}
                      <img src="{{ url_for('static', filename='uploaded_files/' + artist.photo) }}" class="client_img" alt="Artist Photo">
                      {% else %}
                      <img src="{{ url_for('static', filename='picked/images/client-img.png') }}" class="client_img">
                      {% endif %}
                    </div>
                  </div>
                  <div class="client_right">
                    <h4 class="magna_text">{{ artist.full_name }}</h4>
                    <p class="consectetur_text">{{ artist.gender }}</p>
                  </div>
                </div>
                <p class="ipsum_text">{{ artist.phone }}</p>
                <div class="buy_bt_2 active">
                  <a href="/pos_customer_order/{{ artist.user_id }}">View Gallery</a>
                </div>
                {% if session.cust_RolName %}
                <div class="buy_bt_3 active">
                  <a href="#" data-bs-toggle="modal" data-bs-target="#makeReportModal">Report</a>
                </div>
                {% endif %}
              </div>
            </div>

            <!-- Add a modal for Make Report -->
            <div class="modal fade" id="makeReportModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="{{url_for('make_report', Report_Id=artist.user_id)}}" method="post">
                    <div class="modal-header">
                      <h5 class="modal-title">Make Report</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group mt-2">
                        <label for="selectReason" style="color: black;"><b>Select Reason *</b></label>
                        <select class="form-control" id="selectReason" name="select_reason" required>
                          <option value="" disabled selected>Select a reason</option>
                          <option value="Spam">Spam</option>
                          <option value="Inappropriate Content">Inappropriate Content</option>
                          <option value="Harassment">Harassment</option>
                          <option value="Violence">Violence</option>
                          <option value="Other">Other</option>
                        </select>
                      </div>
                      <div class="form-group mt-2">
                        <label for="reportMessage" style="color: black;"><b>Report Message *</b></label>
                        <input type="text" class="form-control" id="reportMessage" name="report_message" placeholder="Report Message" required/>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary btn-md"><b>Make Report</b></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- End Modal for Make Report -->
            {% endfor %}

          </div>
          <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="">
              <img src="{{ url_for('static', filename='picked/images/left-icon1.png') }}">
            </i>
          </a>
          <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="">
              <img src="{{ url_for('static', filename='picked/images/right-icon1.png') }}">
            </i>
          </a>
        </div>
      </div>
    </div>
    <!--testimonial section end -->

    <!--vegetables  section start -->
    <div class="vegetables_section layout_padding">
      <div class="container">
        <div class="image_2">
          <img src="{{ url_for('static', filename='picked/paint/brushes.png') }}" width=150px" height="150px">
        </div>
        <h1 class="about_taital">Our Painting Shop</h1>
        <p class="lorem_text">Reader will be distracted by the readable content of a</p>
        <div class="vegetables_section_2 layout_padding">
          <div class="row">
            {% for product in all_products_data_retrieve %}
            <div class="col-3">
              <div class="box_section">
                <div class="image_4">
                  <img src="{{ url_for('static', filename='uploaded_files/' + product.p_image) }}" style="width: 260px; height: 166px;" alt="Paint Photo">
                </div>
                <h2 class="dolor_text">$<span style="color: #ebc30a;">{{ product.p_price }}</span></h2>
                <h2 class="dolor_text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">{{ product.p_name }}</h2>
                <p class="tempor_text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">{{ product.p_description }} </p>
                <div class="buy_bt_1 active">
                  {% if product_already_added(product.p_id) %}
                  <a style="background-color: greenyellow !important; color: black !important;">Already Added</a>
                  {% else %}
                  <a href="#" class="add_for_download" data-product-id="{{ product.p_id }}">Add to Cart</a>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!--vegetables section end -->

    


{% endblock %}
<!-- BEGIN #Body_of_this_page -->